@defer (when isAddSiteVisible()) {
<app-add-site-dialog [visible]="isAddSiteVisible()" (visibleChange)="isAddSiteVisible.set($event)" />
} @defer (when isSiteSettingsVisible()) {
<app-site-settings-drawer [visible]="isSiteSettingsVisible()" (visibleChange)="isSiteSettingsVisible.set($event)" [activeTab]="siteSettingsTab()" (activeTabChange)="siteSettingsTab.set($event)" [site]="siteService.activeSite()" />
} @defer (when isCreateTeamVisible()) {
<app-create-team-dialog [(visible)]="isCreateTeamVisible" />
} @if (!shareService.isShareMode()) {
<app-session-expiry-indicator />
}
