<app-admin-page-frame [breadcrumbItems]="breadcrumbItems()">
    <p-tabs [value]="activeTab()" (valueChange)="onTabChange($event)" class="hk-admin-tabs">
        <p-tablist>
            @for (tab of tabs(); track tab.value) {
            <p-tab [value]="tab.value">{{ tab.label }}</p-tab>
            }
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-team-overview />
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-team-members />
            </p-tabpanel>
            <p-tabpanel value="2">
                <app-team-settings />
            </p-tabpanel>
            @if (canViewAudit()) {
            <p-tabpanel value="3">
                <app-team-audit />
            </p-tabpanel>
            }
        </p-tabpanels>
    </p-tabs>
</app-admin-page-frame>
