<div class="flex flex-col w-full">
    <app-page-header>
        <ng-template appPageHeaderLeft>
            <div>
                <app-page-breadcrumb [items]="breadcrumbItems()" />
            </div>
        </ng-template>
    </app-page-header>

    <div class="max-w-6xl mx-auto w-full">
        <p-tabs [(value)]="activeTab">
            <p-tablist>
                @for (tab of tabs(); track tab.value) {
                <p-tab [value]="tab.value">{{ tab.label }}</p-tab>
                }
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <app-team-overview />
                </p-tabpanel>
                <p-tabpanel value="1">
                    <app-team-members />
                </p-tabpanel>
                <p-tabpanel value="2">
                    <app-team-settings />
                </p-tabpanel>
                @if (canViewAudit()) {
                <p-tabpanel value="3">
                    <app-team-audit />
                </p-tabpanel>
                }
            </p-tabpanels>
        </p-tabs>
    </div>
</div>
