:host {
    display: block;
}

.qr-code-preview__canvas {
    display: grid;
    place-items: center;
    max-width: 100%;
    aspect-ratio: 1;
}

.qr-code-preview__canvas :is(svg, canvas) {
    display: block;
    width: 100%;
    height: 100%;
}
