:host {
  display: block;
  --p-breadcrumb-background: transparent;
  --p-breadcrumb-padding: 0;
}

:host ::ng-deep .p-breadcrumb .p-breadcrumb-chevron {
  font-size: 0.875rem;
}

:host ::ng-deep .p-breadcrumb .p-breadcrumb-list {
  align-items: center;
}

:host ::ng-deep .p-breadcrumb .p-breadcrumb-list > li,
:host ::ng-deep .p-breadcrumb .p-breadcrumb-separator {
  display: flex;
  align-items: center;
}

:host ::ng-deep .p-breadcrumb .p-breadcrumb-chevron {
  line-height: 1;
}
